@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');


body {
    background-image: url("images/fondo.jpg");
    background-size: cover;
    margin: 0;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-5px, 0); }
    50% { transform: translate(5px, 0); }
    75% { transform: translate(-5px, 0); }
    100% { transform: translate(5px, 0); }
  }
  
.shake {
    animation: shake 0.5s ease-in-out;
}
  
.fondo-alerta{
    box-shadow: 0 0 20px #ababab;
    color: white;
    background-color: #454545;
}

.botones {
    text-align: center;
}

.boton {
    background-color: #1a1a1a;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Workbench', sans-serif;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.boton:hover {
    background-color: #0044ff;
    /* Cambio de color al hacer hover */
    box-shadow: 0 0 20px #0044ff;
    /* Efecto de luz más intenso */
    transform: scale(1.1);
    /* Aumento de tamaño al hacer hover */
}

.titulo {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Sixtyfour', sans-serif;
    color: white;
}

table {
    background-color: rgb(110, 110, 110);
    margin: 20px auto;
}

.celda {
    background-color: #868686;
    animation: pixelateIn 1s ease;
    /* Usa la animación durante 2 segundos */
    border-right: solid 2px rgb(91, 89, 89);
    border-bottom: ridge 2px rgb(34, 34, 34);
    border-left: ridge 2px rgb(34, 34, 34);
    border-top: solid 2px rgb(31, 29, 29);
    text-align: center;
}

.celda:hover {
    background-color: rgb(134, 134, 134);
    box-shadow: 0 0 20px #ffffff;
    /* Efecto de luz */
}


.numero {
    font-weight: bold;
}

.bombas {
    height: 25px;
    width: 25px;
}

.bandera-icon {
    width: 25px;
    height: 25px;
}

@keyframes pixelateIn {
    0% {
        transform: scale(0.1);
        /* Comienza muy pequeño */
        opacity: 0;
        /* Comienza completamente transparente */
    }

    100% {
        transform: scale(1);
        /* Aumenta al tamaño original */
        opacity: 1;
        /* Termina completamente opaco */
    }
}

#contador-bombas {
    background-color: #000;
    color: #ff0000;
    font-family: 'Sixtyfour', sans-serif;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ff0000;
    display: inline-block;
    width: 50px;
    text-align: center;
    margin-left: 47%;
}